.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  /* background-color: rgba(255, 255, 255, .25); */
  background-color: #fff;
  box-shadow: 0 8px 32px 0 rgba(107, 107, 107, .842);
  width: 60%;
  max-width: 768px;
  padding: 1em;

  border-radius: 20px;
}
.quote-svg {
  width: 30px;
  margin-right: 8px;
  margin-bottom: -3px;
}
h1 {
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid gray;
}


h2{
  text-align: start;
  font-weight: 400;
  margin-bottom: 10px;
}
h3 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  text-align: end;
  margin-top: 10px;
}
h3::before {
  content: '';
  display: inline-block;
  width: .8em;
  height: .1em;
  margin: 4px 6px;
  background-color: gray;
}

.buttons{
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.buttons a {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.twitter-svg{
  margin: 0;
  padding: 0;
  margin-bottom: -4px;
  height: 46px;
}

button{
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

  .btn::after {
    content: '';
    background-color: rgba(107, 107, 107, .842);
    height: 3px;
    width: 0;
    position: absolute;
    transition: all .5s ease;
    bottom: 0px;
    z-index: 10;
    left: 50%;
  }
  .buttons a::after {
    bottom: 3px;
  }
  .btn:hover::after{
    left:0;
    width: 100%;
  }
  button:focus {
    outline: none;
    box-shadow: 0 0 16px rgba(107, 107, 107, .842);
  }

  @media only screen and (min-width: 768px) {
    .container {
      padding: 2em 4em;
    }
  }
  .animaCol {
    transition: color .5s ease;
  }
  .animaBG {
    transition: background .5s ease;
  }